@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    padding: 40px;
}

.legenda>p {
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, 0.767);
    margin-bottom: 50px;
    line-height: 1.6em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.753);
    font-size: 1em;
}

#legendaDias {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.753);
}

#legendaDias>p {
    color: white;
    padding: 5px;
}

video {
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#legenda>h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#containerCalendario {
    font-family: 'Dancing Script', cursive;
    margin: auto;
    width: 310px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
    color: rgba(0, 0, 0, 0.600);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.520);
}

#janeiroAno {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    background-image: url(../imagens/);
}

#janeiroAno>h1 {
    margin-right: auto;
}

#calendario {
    width: 310px;
    height: 250px;
}

#dias {
    width: 100%;
    height: 100%;
}

#tabela {
    display: grid;
    width: 100%;
    height: 100%;
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
}

#dia4,
#dia2,
#dia19,
#dia20,
#dia24 {
    background-color: lightgray;
}

thead>tr>td {
    padding: 10px;
}

td {
    vertical-align: center;
    border: 1px solid rgba(0, 0, 0, 0.473);
}