@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, 
body, 
main {
    background-image: url(../imagens/background-branco.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 20px;
}

#legenda {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(175, 173, 173);
    padding: 20px;
    margin: 20px 20px 40px;
    color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.420);
}

#legenda > h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#containerCelendario {
    font-family: 'Dancing Script', cursive;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 400px;
    background-color: rgb(175, 173, 173);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
    color: rgba(0, 0, 0, 0.600);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.520);
    margin-bottom: 50px;
}

#janeiroAno {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    background-image: url(../imagens/);
}

#janeiroAno > h1 {
    margin-right: auto;
}

#janeiroAno > p {
    
}

#calendario {
    width: 400px;
    height: 400px;
}

#dias {
    width: 100%;
    height: 100%;
}

#tabela {
    display: grid;
    width: 100%;
    height: 100%;
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
}

thead>tr>td {
    padding: 10px;
}

td {
    vertical-align: center;
    border: 1px solid rgba(0, 0, 0, 0.473);
}