@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(../imagens/WhatsApp\ Image\ 2023-03-19\ at\ 21.01.14.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

#legenda {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(175, 173, 173, 0.877);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.726);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.340);
    margin-bottom: 40px;
}

#legenda > h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#containerCelendario {
    font-family: 'Dancing Script', cursive;
    margin: auto;
    width: 400px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
    color: rgba(0, 0, 0, 0.600);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.520);
}

#legenda2 {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(175, 173, 173, 0.932);;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.726);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.340);
}

#legenda2 > p {
    padding: 5px;
}

#janeiroAno {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    background-image: url(../imagens/);
}

#janeiroAno > h1 {
    margin-right: auto;
}

#calendario {
    width: 400px;
    height: 270px;
}

#dias {
    width: 100%;
    height: 100%;
}

#tabela {
    display: grid;
    width: 100%;
    height: 100%;
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
}

thead>tr>td {
    padding: 10px;
}

td {
    vertical-align: center;
    border: 1px solid rgba(0, 0, 0, 0.473);
}