@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100vh;  
}

body {
    background-image: url(../imagens/background-janeiro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    height: 100vh;
    padding: 40px;
}

#video {
    margin-top: 40px;
}

div#video > iframe {
    display: block;
    margin: auto;
}

.legenda > p {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(252, 255, 57);
    margin-bottom: 50px;
    line-height: 1.6em;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.822);
    font-size: 1em;
}

#legendaDias {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.753);
}

#legendaDias > p {
    color: rgb(252, 255, 57);
    padding: 5px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.822);
}

/* #legenda {
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.808);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.340);
    margin-bottom: 40px;
} */

#legenda > h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#containerCelendario {
    font-family: 'Dancing Script', cursive;
    margin: auto;
    width: 310px;
    background-color: rgb(253, 255, 128);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
    color: rgba(0, 0, 0, 0.600);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.520);
}

#julhoAno {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 2em;
}

/* 
    background-image: url(../imagens/); */

#julhoAno > h1 {
    margin-right: auto;
}

#calendario {
    width: 310px;
    height: 250px;
}

#dias {
    width: 100%;
    height: 100%;
}

#tabela {
    display: grid;
    width: 100%;
    height: 100%;
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
}
.diaMarcado {
    background-color: rgb(255, 255, 91) ;
}

thead>tr>td {
    padding: 10px;
}

td {
    vertical-align: center;
    border: 1px solid rgba(0, 0, 0, 0.473);
}