@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../imagens/background-index.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    padding-top: 40px;
    height: 100vh;
}

#containerMeses {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 50px;
}

#containerMeses>a {
    margin: auto;
}


#janeiro {
    background-color: white;
}

#fevereiro {
    background-color: #a86dec;
}

#março {
    background-color: #BF8FB7;
}

#abril {
    background-color: #418EFA;
}

#maio {
    background-color: rgba(252, 250, 94);
}

#junho {
    background-color: #ff6051;
}

#julho {
    background-color: rgba(252, 250, 94);
}

#agosto {
    background-color: #BF8FB7;
}

#setembro {
    background-color: #23ff77;
}

#outubro {
    background-color: rgb(253, 116, 139);
}

#novembro {
    background-color: #418EFA;
}

#dezembro {
    background-color: #F27E63;
}

.meses {
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
}

.atualização {
    text-align: center;
    padding: 10px;
    background-color: rgb(173, 51, 173);
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid black;
}

#saibaMais {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.589);
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: rgba(235, 182, 83, 0.877);
    font-size: 1.5em;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    border: 1px solid orange;
    transition: .4s;
}

#saibaMais:hover {
    border: 1px solid white;
    cursor: pointer;
    background-color: rgb(218, 161, 57);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.623);
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.420);
    border-top: 3px solid rgb(218, 142, 1);
    padding: 25px 10px 0px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-bottom: 3px solid rgb(218, 142, 1);
    padding-bottom: 25px;
}

@media screen and (min-width: 768px) {

    body {
        background-image: linear-gradient(to right, #E64661, #FFA644);
    }

    main {
        background-image: url(../imagens/background-index.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 600px;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}

@media screen and (max-height: 520px) {
    main {
        height: 100%;
    }
}