@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100vh;
    background-image: url(../imagens/background-index.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-bottom: 20px;
}

main {
    height: 100vh;
}

#containerMeses {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

#containerMeses > div {
    margin: auto;
}

.meses:nth-child(1) {
    background-color: white;

}
.meses:nth-child(2) {
    background-color: rgba(151, 29, 151, 0.822);
}
.meses:nth-child(3) {
    background-color: rgb(173, 51, 173);
}
.meses:nth-child(4) {
    background-color: rgb(99, 146, 247);
}
.meses:nth-child(5) {
    background-color: rgb(247, 247, 102);
}
.meses:nth-child(6) {
    background-color: rgb(248, 90, 90);
}
.meses:nth-child(7) {
    background-color: rgb(247, 247, 102);
}
.meses:nth-child(8) {
    background-color: rgb(173, 51, 173);
}
.meses:nth-child(9) {
    background-color: rgb(247, 247, 102);
}
.meses:nth-child(10) {
    background-color: rgb(248, 134, 168);
}
.meses:nth-child(11) {
    background-color: rgb(99, 146, 247);
}
.meses:nth-child(12) {
    background-color: rgb(248, 193, 90);
}

.meses {
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.623);
    font-size: 3em;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.420);
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}